window.volume-osd {
  all: unset;
  background-color: #000000;
  color: #000000;
  border-radius: 10em;

  levelbar {
    trough {
      background-color: #191724;
      border-radius: 10em;

      block {
        border-radius: 10em;
        color: peachpuff;
      }
    }
  }
}
