$background: #11111b; //defaultbackground
$foreground: #cdd6f4; //foreground

$black: #000000;
$b_black: #191724; //selectionbackground
$grey: #6e6a86; //comments
$b_grey: #908caa; //darkforeground
$white: #e0def4; //lightforeground
$b_white: #ffffff; //lightestforeground

$red: #eb6f92;
$b_red: #f5c2e7;

$brown: #eba0ac; //darkred
$orange: #fab387;

$yellow: #f6c177;
$b_yellow: #f9e2af;

$green: #a6e3a1;
$b_green: #94e2d5;

$cyan: #31748f;
$b_cyan: #93e1d4;

$blue: #89b4fa;
$b_blue: #74c7ec;

$purple: #cba6f7;
$b_purple: #b4befe;
