eventbox.Notification {
  &>box {
    background-color: $background;
    color: $foreground;
    font-family: JetBrains Mono;
    font-size: 1.1em;
    padding: 0 0.2em 0 0.5em;
  }

  &.critical>box { border-left: 0.5em solid $red; }
  &.normal>box { border-left: 0.5em solid $blue; }
  &.low>box { border-left: 0.5em solid #45475B; }

  .header {
    icon.app-icon {
      font-size: 2em;
      margin-right: 0.5em;
    }

    label.app-name {
      text-decoration-line: underline;
      margin-right: 0.5em;
    }

    label.content {
      font-size: 0.9em;
    }

    label.time {
      // text-decoration-line: italic;
      color: $grey;
      font-size: 0.9em;
    }
  }
}
