window.Osd {

  box.VolumeOsd {
    background-color: $background;
    padding: 0.3em;
    levelbar {
      trough {
        block.filled {
          background-color: $blue;
        }
      }
    }
  }

  icon {
    min-height: 30px;
    padding-top: 0.3em;
  }

  box.BrightnessOsd {
    background-color: $background;
    padding: 0.3em;
    levelbar {
      trough {
        block.filled {
          background-color: $blue;
        }
      }
    }
  }

}
