@use "sass:color";

$bg: #191724;
$lbg: #26233a;
$fg: #e0def4;
$accent: #eb6f92;
$accent2: #31748f;
$radius: 9px;

window.Bar {
  all: unset;
  background-color: $bg;
  color: $fg;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0 0.3em;

  .Workspaces {
    all: unset;
    margin: 0.3em;
    background-color: $lbg;
    border-radius: 10em;
    padding: 0.2em;

    button {
      all: unset;
      background-color: $fg;
      min-width: 1.1em;
      min-height: 0.7em;
      border-radius: 10em;
      margin: 0 0.3em;

      &:hover label {
        border-radius: 10em;
        background-color: $accent2;
        transition: backgroud-color 0.25s ease-out;
      }

    }
    .focused {
      border-radius: 10em;
      background-color: $accent;
      min-width: 2.2em;
      transition: min-width 0.25s ease-out;
    }
  }

  .Settings {
    all: unset;
    margin: 0.3em;
    background-color: $lbg;
    border-radius: 10em;
    padding: 0.2em;
  }

  .Wifi {
    all: unset;
    margin: 0 0.5em;
  }

  .Volume {
    all: unset;
    margin: 0 0.5em;
  }

  .Battery {
    all: unset;
    margin: 0 0.5em;
  }

  .SysTray {
    all: unset;
    margin: 0 0.5em;
  }

  .tray-item {
    border-radius: 10em;
    background-color: transparent;

    &:hover {
      background-color: color.adjust($fg, $alpha: -0.84);
    }
  }

}
