* {
  font-family: Ubuntu Mono;
  font-weight: bold;
  font-size: 1.2em;
  all: unset;
}

@import "./scss/colors.scss";

$accent: $red;
$secondary: $yellow;

@import "./scss/bar.scss";
@import "./scss/launcher.scss";
@import "./scss/osd.scss";
@import "./scss/notifications.scss"
